
/* 
    Created on : 15 de mar de 2020, 16:25:06
    Author     : HQ-InnIT
*/

/*Criação de alguns estilos para todo o sistema*/

.footer {
    background-color: #820000;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

.menu {
    background-color: #820000;
}

.submenu {
    color: white;
}

.icon-painel {
    size: 14px;
}

.notify-painel-1 {
    margin: 10px;
}

.notify-painel-1 > div{
    margin: 10px;
    padding: 10px;
    border-color: #820000;
    margin: 10px;
    padding: 20px;
}

.notify-painel-2 {
    margin: 10px;
}

.notify-painel-2 > div{
    margin: 10px;
    padding: 10px;
    border-color: #820000;
    margin: 10px;
    padding: 20px;
}

.notify-painel-3 {
    margin: 10px;
}

.notify-painel-3 > div{
    margin: 10px;
    padding: 10px;
    border-color: #820000;
    margin: 10px;
    padding: 20px;
}